CLIENT_UUID=TEST_UUID
# mediamtx server
MEDIAMTX_SERVER_URL=127.0.0.1:8890
MEDIAMTX_SERVER_CHECK_URL=127.0.0.1:9997
# offline
OFFLINE_REC_DURATION=30
OFFLINE_UPLOAD_SERVER_BASE_URL=http://127.0.0.1:8001/upload/video/